<h2><%= @kid["name"] %></h2>
<h4>Grade: <%= @kid["grade"]%></h4>
<h4>Age: <%= @kid["age"]%></h4>
<h4>Teacher: <%= @kid["teacher"]%></h4>
<h4>School: <%= @kid["school"]%></h4>
<h4>Image: <%= @kid["image_url"]%></h4>



