<h2><%= @goal["category"] %></h2>
<h4>Date: <%= @goal["date"]%></h4>
<h4>Category: <%= @goal["category"]%></h4>
<h4>Description: <%= @goal["description"]%></h4>
<h4>Image: <%= @goal["image_url"]%></h4>
